head
  title Dobre praktyki JavaScript (+ środowisko Node.js)
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css")
  link(rel="stylesheet" href="/style.css" type="text/css")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css" type="text/css")
  script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js")
  script.
    hljs.configure({ tabReplace: '  ' });
    hljs.initHighlightingOnLoad();