html
  include includes/head
  body
    div.container-fluid
      p.h2.text-center.mt-2.mb-2 #{title}
      div.row
        include includes/nav
        div.col-10
          p.h1.text-center JavaScript - tips & tricks